<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orchardsign.dao.AdminGroupMapper">
  <resultMap id="BaseResultMap" type="com.orchardsign.entity.AdminGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="groupName" jdbcType="VARCHAR" property="groupname" />
    <result column="groupMsg" jdbcType="VARCHAR" property="groupmsg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, groupName, groupMsg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_admin_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_admin_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.orchardsign.entity.AdminGroup">
    insert into tb_admin_group (id, groupName, groupMsg
      )
    values (#{id,jdbcType=INTEGER}, #{groupname,jdbcType=VARCHAR}, #{groupmsg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.orchardsign.entity.AdminGroup">
    insert into tb_admin_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupname != null">
        groupName,
      </if>
      <if test="groupmsg != null">
        groupMsg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="groupmsg != null">
        #{groupmsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.orchardsign.entity.AdminGroup">
    update tb_admin_group
    <set>
      <if test="groupname != null">
        groupName = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="groupmsg != null">
        groupMsg = #{groupmsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orchardsign.entity.AdminGroup">
    update tb_admin_group
    set groupName = #{groupname,jdbcType=VARCHAR},
      groupMsg = #{groupmsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_admin_group
    where id != 2
  </select>

</mapper>